
.content h2 {
    text-align: center;
    font-size: 2vw;

}

.skills li{
    font-size: 1.25vw;
}

.content img {
    display: flex;
    border-radius: 2%; /* Adjust the radius as needed */
    width: 25%; /* Set the width to 20% of its original size */
}

/* Additional styles for text */
.content p {
    display: flex;
    text-align: left;
    font-style: normal;
    font-size: 1.25vw;
    margin: 1% 0;

}


#skills-container .skills ul {
    list-style-type: none;
    padding-left: 1%;
}


/* Change li color on hover (if applicable) */
#skills-container .skills ul li:hover {
    color: #007bff;
}

/* Specificity increased for font size */
#skills-container .PL-container .PL,
#skills-container .languages-container .languages {
    padding-left: 1%;
    color: #888;
}



