body {
    background-color: white; /* Changing body background color */
    width: 80%;
    font-family: 'Lato', sans-serif;
    display: flex; /* Using flexbox to align content */
    flex-direction: column;
    justify-content: center; /* Horizontally centering content */
    align-items: center; /* Vertically centering content */
    margin: 0% auto;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

h1 {
    font-size: 3vw;
    border-top: 0;
    border-bottom: 0;
    text-align: left;
}



header {
    width: 90%;
}

.content {
    width: 80%;
}