.content h1 {
    font-size: 3vw;
    border-top: 0;
    border-bottom: 0;
    text-align: left;
}


/* Updated styles for the left-list and containers */
.content section {
    display: flex;
    justify-content: space-between;
}

/* Updated class name to .left-list */
.content .left-list {
    list-style: none;
    padding: 0;
    margin-right: 2%; /* Adjust margin-right instead of margin-left */
}

/* Updated class name to .left-list */
.content .left-list li {
    font-size: 2vw;
    color: #888;
    margin-bottom: 10px;
    text-align: left; /* Align the text to the left */
}



.content .containers h2 {
    font-size: 2vw;
}

.hide {
    display: none;
  }