/* PROJECTS */
.content h1 {
    font-size: 4vw;
    border-top: 0;
    border-bottom: 0;
    text-align: left;
}

.content .right-list {
    list-style: none;
    padding: 0;
}

.content .right-list li {
    font-size: 3.5vw;
    color: #888;
    margin-bottom: 10px;
    text-align: right; /* Align the text to the right */
}

.content .right-list li a {
    text-decoration: none;
    color: inherit;
}
