/* PROJECTS */
.content h1 {
    font-size: 3vw;
    border-top: 0;
    border-bottom: 0;
    text-align: left;
}




.content .left-list li {

    margin-bottom: 10px;
    text-align: left; /* Align the text to the left */
}

.content .left-list li a {
    font-size: 2vw; /* Adjust the font size using vw */
    text-decoration: none;
    color: inherit;
}

