<!DOCTYPE html>
<html>
<body>
    <head>
        <title>Developer Log - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lato.css') }}">

        {% block head %}
        {% endblock %}
    </head>


    <!-- Header -->
    <header>
        <nav>
            <div class="left-section">
                
                <ul class="menu">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.about') }}">About</a></li>
                    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('main.blog') }}">Blog</a></li>
                </ul>
            </div>

            <div class="right-section">

                <a href="mailto:taylorthreader@gmail.com" target="_blank">
                    <img src="{{ url_for('static', filename='images/gmail.jpeg') }}" alt="About">
                </a>
                <a href="https://www.youtube.com/channel/UCYvuD6FQETZ9am_kEeH0xGg" target="_blank">
                    <img src="{{ url_for('static', filename='images/youtube.jpeg') }}" alt="Youtube">
                </a>
                <a href="https://github.com/LunaTMT" target="_blank">
                    <img src="{{ url_for('static', filename='images/github.jpeg') }}" alt="Github">
                </a>
                <a href="https://www.linkedin.com/in/t-shredder-a8857b9a/" target="_blank">
                    <img src="{{ url_for('static', filename='images/linkedin.jpeg') }}" alt="Linkedin">
                </a>
            </div>
        </nav>
        
    </header>

    <!-- Content block -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.content h1').classList.add('slide-in');
            document.querySelector('.content .containers').classList.add('slide-in');
            document.querySelector('.content .right-list').classList.add('slide-in');
        });
    </script>
        
</body>
</html>

