<!DOCTYPE html>
<html>
<head>
    <title>Developer Log - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="/app/static/app.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
       
        <!-- Navigation menu -->
        <nav>
            <h1>Developer Log</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </header>


    <!-- Content block -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>find me</p>
        <ul>
            <li><a href="https://github.com/LunaTMT">Github</a></li>
            <li><a href="https://www.linkedin.com/in/t-shredder-a8857b9a/">Linkedin</a></li>
        </ul>

    </footer>
</body>
</html>
