{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/load_project.css') }}">
    <script src="{{ url_for('static', filename='js/toggle_visibility.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <section>


        <ul class="left-list">
            <li onclick="toggleContainerVisibility('description-container')">Description</li>

            <div id="description-container" class="description-container hide">       
                <p>{{ content.description }} </p>
            </div>

            <li onclick="toggleContainerVisibility('overview-container')">Overview</li>

            <div id="overview-container" class="overview-container hide">           
                <p>{{ content.description }} </p>
            </div>

            <li onclick="toggleContainerVisibility('video-container')">Video</li>

            <div id="video-container" class="video-container hide">            
                <p>{{ content.description }} </p>
            </div>
            
            {% if content.devlog %}
                <li onclick="toggleContainerVisibility('devlog-container')">Dev Log</li>

                <div id="devlog-container" class="devlog-container hide">
                    <p>{{ content.description }} </p>
                </div>
            {% endif %}
         
            {% if content.tutorial %}
                <li onclick="toggleContainerVisibility('tutorial-container')">Tutorial</li>

                <div id="tutorial-container" class="tutorial-container hide">
                    <p>{{ content.description }} </p>
                </div>
            {% endif %}
            
        </ul>


   
        
         
 
        

      
    

    </section>
{% endblock %}


